.div1{
    background-color: blueviolet;
}
.div2{
    background-color: rgb(46, 43, 226);
}
.div3{
    background-color: rgb(43, 205, 226);
}

.container{
    border: 2px solid black;
    /*limita o tamanho do elemento*/
    max-width: 400px;
    margin: 0 auto;
    display: flex;
}

.item{
    background: blue;
    margin: 5px;
    text-align: center;
    color: aliceblue;
}