@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;

    /* assegura que padding e margin sejam incluidos nas dimensoes totais do elemento*/
    box-sizing: border-box;
}
.logo{
    font-family: Teko;
    font-size: 2rem;
    color: azure;
}
nav{
    max-width: 1120px;
    width: 100%;
    margin: auto;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
a{
    text-decoration: none;
    color: azure;
}
.menu{
    display: flex;
    gap: 4rem;
    align-items: center;
}
.banner-cafe{
    max-width: 1120px;
    height: 60vh;
    margin: auto;
}
.banner-cafe > img{
    width: 100%;
    box-shadow: 10px 0px 20px rgba(0,0,0,0.5);
    border-radius: 2px;
    opacity: 0.9;
}
.banner-novidades{
    max-width: 1120px;
    height: 60vh;
    margin: auto;
    padding: 0rem 2rem;
    gap: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner-conteudo{
    /*Organizando o conteúdo em coluna*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.banner-imagens{
    /*Definir largura máxima*/
    max-width: 45%;
    /*Exibir as imagens em 4 colunas*/
    column-count: 4;

}
.banner-imagens > figure > img{
    width: 100%;
    border-radius: 5px;
}

/*Criando scrool para cards*/
.card-novo{
    display: flex;
    overflow: scroll;
    gap: 3rem;
    margin: auto;
    max-width: 1120px;
}

/*Removendo a barra de scroll*/
.card-novo::-webkit-scrollbar{
    display: none;
}

.receitas{
    /*Organizando em colunas*/
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 2.5rem 2rem;
    margin: auto;
}
.cabecalho-card{
    background-color: rgb(192, 113, 113);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card{
    margin-left: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 10px 0px 20px rgb(0, 0, 0);
    max-width: 260px;
}
.rodape-card{
    background-color: rgb(192, 113, 113);
    padding: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
button{
    width: 80px;
    background-color: coral;
    color: khaki;
    border-radius: 8px;
    padding: 4px;
}



/*MAPA*/
.mapa{
    max-width: 1120px;
    width: 600px;
    height: 400px;

    /* Aplica papel de parede a nossa div*/
    background-image: url('../img/mapa.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;
    position: relative;
}

.icone{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: darkviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.icone1{
    top: 40px;
    left: 100px;
}

.icone2{
    top: 100px;
    left: 220px;
}
/*Criando um elemento que não irá aparecer na tela*/
.div-hover{
    /*Escolhendo a imagem*/
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 500px;
    height: 400px;
}

.icone:hover .div-hover{
    /*Mostrando a imagem*/
    display: block;
    position: fixed;
    top: 15%;
    left: 17%;
}

/*Estilização melhores avaliados*/
.container-galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    background-color: antiquewhite;
}

.item-galeria{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    background-color: aquamarine;
}

.item-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3 ease ;
}

.item-galeria img:hover{
    transform: scale(1.1);

}